.ChatBox-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: var(--cardColor);
  border-radius: 1rem;
  height: 100%;
  overflow: hidden;
}

.chat-header {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.chat-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding: 1rem;
  padding-bottom: 3.5rem;  
  overflow-y: auto;
}

.message {
  max-width: 28rem;
  width: fit-content;
  padding: 0.7rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  background: var(--buttonBg);
  color: white;
}

.message > span:nth-child(2) {
  font-size: 0.7rem;
  align-self: flex-end;
  color: var(--textColor);
}

.own {
  align-self: flex-end;
  background: linear-gradient(98.63deg, #ef8dbb 0%, #ed0b9a 100%);
}

.avatar-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
