.conversation {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 15px;
  gap: 10px;
  border-radius: 12px;
  transition: background 0.2s;
  cursor: pointer;
 
}

/* Hover effect */
.conversation:hover {
  background-color: #e7b3e1;
}

/* Optional subtle bottom border instead of hr */
.conversation:not(:last-child) {
  border-bottom: 1px solid #ececec;
}



.avatar-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;            /* needed to center content */
  justify-content: center;  /* horizontal centering */
  align-items: center;      /* vertical centering */
  color: #fff;              /* text color for contrast */
  font-weight: bold;
  font-size: 18px;
  margin-right: 10px;
  flex-shrink: 0;           /* prevent shrinking */
}


.name-status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: visible; /* make sure text is visible */
}

.username {
  font-weight: 500;
  font-size: 14px;
  color: #141313; /* force dark color */
}


.status {
  font-size: 0.8rem;
  font-weight: bold;
  color: #888;
}

.status.online {
  color: #51e200;
}

.status.offline {
  color: #4f4d4c;
}

.last-message.unread {
  font-weight: bold;
}
.chat-delete-icon {
  margin-left: 30px;
  color: #999;
  cursor: pointer;
}

.chat-delete-icon:hover {
  color: red;
}
