.chat-sender {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
  background: white;
  min-height: 65px;
  flex-shrink: 0;
}

.chat-sender > input {
  flex: 1;
  height: 70%;
  padding: 0 15px;
  border-radius: 0.5rem;
  border: none;
  background-color: rgb(236, 236, 236);
  outline: none;
}

.attach-btn {
  background: rgb(233, 233, 233);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  height: 70%;
  padding: 0 12px;
}

.send-button {
  background-color: #89267b;
  color: white;
  border-radius: 0.5rem;
  padding: 0 15px;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
